<div class="jumbotron" style="height: calc(95vh);">
  <div class="container-fluid">
    <h1 class="display-4">Public Client</h1>
    <div *ngIf="!hasErrors">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>Authorization Code</h5>
          <h6>{{authorizationCode}}</h6>
        </li>
        <li class="list-group-item">
          <h5>Access Token</h5>
          <h6>{{accessToken}}</h6>
        </li>
        <li class="list-group-item">
          <h5>Refresh Token</h5>        
          <h6 >{{refreshToken}}</h6>
        </li>
        <li class="list-group-item">
          <h5>Id Token</h5>
          <h6>{{idToken}}</h6>
        </li>
        <li class="list-group-item">
          <h5>Protected Resource</h5>
          <h6>{{protectedResource}}</h6>
        </li>
      </ul>
      <p>
        <button class="btn btn-primary mr-3" (click)="login()">Login</button>
        <!-- TODO: Thou shalt not pass tokens/codes/secrets as a query parameters -->
        <!-- https://owasp.org/www-community/vulnerabilities/Information_exposure_through_query_strings_in_url -->
        <button class="btn btn-primary m-3" (click)="getProtectedResource()">Get Protected Resource</button>
      </p>
  </div>
  <div *ngIf="hasErrors">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5 class="my-errors">{{ error }}</h5>
      </li>
    </ul>    
  </div>
  </div>
</div>
